.libs
arc.png
compositing.png
create-from-data.png
ctestfile-stamp.oocairo
fill-rule.png
get-data.ppm
groups.png
inside-tests.png
liblua-oocairo.la
loading-images.png
masking.png
oocairo.lo
oocairo.o
repeated-patterns.png
simple-example.png
simple-svg.svg
stroke-style.png
text-extents.png
text-font.png
text-path.png
text-userfont.png
text-userfont2.png
tolerance.png
transform.png
